name: tests
on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.14
        uses: actions/setup-python@v2
        with:
          python-version: 3.14
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel setuptools_scm
          python -m pip install --upgrade tox tox-gh-actions
      - name: Run lint
        run: tox -e lint

  tests:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        tox-env: [
          py38-pytest8,
          py39-pytest84,
          py310-pytest84, py310-pytest9,
          py311-pytest84, py311-pytest9,
          py312-pytest84, py312-pytest9,
          py313-pytest84, py313-pytest9,
          py314-pytest84, py314-pytest9
        ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.tox-env }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel setuptools_scm
          python -m pip install --upgrade tox tox-gh-actions
      - name: Run tests
        run: tox -e ${{ matrix.tox-env }}
